/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

body {
font-family: 'arial', sans-serif;
}

#checklistdiv {
	margin: auto;
	width: 800px;
	border: 3px solid #BBB;
}

input[type=checkbox] 
{
	width: 34px; 
	height: 34px;
	border-radius: 22px;
	border: 1px solid #bbb;
	text-align: center;
}

span.titletext {
	font-size: 1.2em;
}

span.desctext {
	font-size: 0.7em;
	font-style: italic;
	color: #444;
}

table {
	border-spacing: 0px;
}

h1 {
	text-align: center;
}

h2 {
	border-top: 3px solid #CCC;
	border-bottom: 3px solid #CCC;
	text-align: center;
}

tr:nth-child(even){background:#EEE}
tr:nth-child(odd){background:#FFF}

td {
	width: 400px;
	padding: 20px;
	border-bottom: 1px solid #85A8CC;
	border-left: 0px;
	text-align: left;
}

tr { /*Why isnt this working?*/
	/*padding: 40px;*/
	border: 50px solid #85A8CC;
}

ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

li
{
	display:inline;
}

div.selection
{
	text-align: center;
	padding: 2em;
}

select, input[type="submit"]
{
	font-size: 1.25em;
	padding: 0.5em;
	margin: 0.5em;
}

select
{
	width: 500px;
}

input[type="submit"]
{
	width: 250px;
}